source https://api.nuget.org/v3/index.json
storage: none

group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Fake.Core.Target
    
group Tests
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget Microsoft.NET.Test.Sdk
    nuget xunit
    nuget xunit.runner.visualstudio
